/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#ConnectionStatus {
    background-color:gray;
}
/* scroll del pannello staccato dal contesto
.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}*/

.rounded {
    width: 30px;
    height: 30px;
    /*background-color: red;
   // color: #E63302;
    
   // border: 5px solid #E63302;*/
    
    
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    
}

.tastoCentrato {
    margin: 0 auto;
    text-align:center;
}

.iconeTasti{
float:left;
margin-top: 10px;
margin-left: 30px;
margin-right: 10px;
}

#machineList {
margin-top:15px;
}

#TitoliMacchine {
    text-align:left;
}

#TitoliMacchine td{
    text-align:left;
}
#TitoliMacchine h1{
    text-align:left;
}
.TextLeft {
    text-align:left;
}
.TextRight {
    text-align:right;
}
.TextCenter {
    text-align:center;
}
.RightMargin {
    margin-right:10px;
}
#CruscottoContent {
background-color:white;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {

        .tastoCentratoPopup {
            margin: 0 auto;
            text-align:center;

        }


        .Grafico{
           width:750px;
           height:367px;
           text-align:center;
           margin: 0 auto;

        }

		body {
			-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
			-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
			-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
			background-color:#73D05D;
			background-image:linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-ms-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #1C3716),
				color-stop(0.51, #73D05D)
			);
			background-attachment:fixed;
			font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
			font-size:17px;
			height:100%;
			margin:0px;
			padding:0px;
			text-transform:uppercase;
			width:100%;
		}

		.jqplot-series-shadowCanvas {
           /* background-color:red;*/
	        background-image:url('../img/macchina_1024.png');

	        background-repeat: no-repeat; 
	        background-position: center center;
        }

        .jqplot-series-canvas {
	        opacity:0.8;
	        filter:alpha(opacity=80); /* For IE8 and earlier */
        }
}
@media screen and (min-width: 1100px)  {

        .tastoCentratoPopup {
            margin: 0 auto;
            text-align:center;
        }


        .Grafico{
           width:900px;
           height:450px;
           text-align:center;
           margin: 0 auto;

        }
		
		body {
			-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
			-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
			-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
			background-color:#73D05D;
			background-image:linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-ms-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #1C3716),
				color-stop(0.51, #73D05D)
			);
			background-attachment:fixed;
			font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
			font-size:20px;
			height:100%;
			margin:0px;
			padding:0px;
			text-transform:uppercase;
			width:100%;
		}
        .jqplot-series-shadowCanvas {
           /* background-color:red;*/
	        background-image:url('../img/macchina_MAX.png');

	        background-repeat: no-repeat; 
	        background-position: center center;
        }

        .jqplot-series-canvas {
	        opacity:0.8;
	        filter:alpha(opacity=80); /* For IE8 and earlier */
        }
        .HeadFootClass {
        height:85px;
        font-size: 20px;
        line-height: 60px; /* verticale */
    }

     .HeadFootClass h1.ui-title{
        font-size: 50px;
        margin:10px;
    }
    .ui-btn-text {
        font-size: 20px;
    }
}
@media screen and  (max-width: 550px) {

        .tastoCentratoPopup {
            margin: 0 auto;
            text-align:center;

        }


        #chart4{
           width:300px;
           height:150px;
           text-align:center;
           margin: 0 auto;

        }

		body {
			-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
			-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
			-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
			background-color:#73D05D;
			background-image:linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-ms-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #1C3716),
				color-stop(0.51, #73D05D)
			);
			background-attachment:fixed;
			font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
			font-size:12px;
			height:100%;
			margin:0px;
			padding:0px;
			text-transform:uppercase;
			width:100%;
		}
		
		.jqplot-series-shadowCanvas {
           /* background-color:red;*/
	        background-image:url('../img/macchina_400.png');
	        background-repeat: no-repeat; 
	        background-position: center center;
        }

        .jqplot-series-canvas {
	        opacity:0.8;
	        filter:alpha(opacity=80); /* For IE8 and earlier */
        }

        .ui-btn { height: 50px; font-size: 12px; }

        /*
		.ui-btn-inner{
            text-overflow: initial; 
            padding-left: 5px; 
        }
*/
        .ui-btn-text {
            font-size: 12px; 
        }

}
@media screen and (min-width: 550px) and (max-width: 900px) {

        .tastoCentratoPopup {
            margin: 0 auto;
            text-align:center;

        }


        .Grafico{
           width:500px;
           height:250px;
		   
           text-align:center;
           margin: 0 auto;

        }

		body {
			-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
			-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
			-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
			background-color:#73D05D;
			background-image:linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-ms-linear-gradient(top, #1C3716 0%, #73D05D 51%);
			background-image:-webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0, #1C3716),
				color-stop(0.51, #73D05D)
			);
			background-attachment:fixed;
			font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
			font-size:15px;
			height:100%;
			margin:0px;
			padding:0px;
			text-transform:uppercase;
			width:100%;
		}

		.jqplot-series-shadowCanvas {
           /* background-color:red;*/
	        background-image:url('../img/macchina.png');

	        background-repeat: no-repeat; 
	        background-position: center center;
        }

        .jqplot-series-canvas {
	        opacity:0.8;
	        filter:alpha(opacity=80); /* For IE8 and earlier */
        }
}

